/* Variables */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #333;
}
/* Base structure */
html,
body {
  height: 100%;
  background-color: #ffffff;
}
/* Text  */
body {
  color: #333333;
  font-family: 'Lato', Helvetica, sans-serif;
}
h2,
h3,
h4,
h5 {
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.01em;
  word-spacing: 0.15em;
}
.big-text {
  font-size: 28px;
  line-height: 1.1;
}
p {
  font-size: 18px;
}
/* Background */
body {
  background: url(../img/test2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  min-height: 500px;
  overflow-y: scroll;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
}
.zebra {
  background-color: #b2c7c8;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container,
.masthead-container {
  margin-right: auto;
  margin-left: auto;
}
/* Padding for spacing */
.inner {
  padding: 30px;
}
/* Header */
.masthead {
  background-color: rgba(34, 34, 34, 0.95);
  width: 100%;
  z-index: 999;
}
.masthead h3 {
  margin: 0;
  padding: 0;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-brand a {
  display: block;
  height: 50px;
  width: 189px;
  background: url(../img/marslaw_tiny.png) no-repeat top left;
  text-indent: -9999px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}
.symbol {
  margin: 0;
  padding: 0;
  line-height: 0.6;
  font-family: arial, sans-serif;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.4);
}
/*
 * Cover
 */
.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
/*
 * Footer
 */
.mastfoot {
  color: #999;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5);
}
/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    height: 50px;
    overflow: hidden;
  }
  .site-wrapper {
    padding-top: 50px;
    /* Offset for nav */
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
    text-align: center;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
  /* Grids */
  .col {
    float: left;
  }
  .col-4 {
    width: 33.3333%;
  }
  .col-8 {
    width: 66.6667%;
  }
}
@media (min-width: 992px) {
  .mastfoot,
  .masthead-container,
  .cover-container {
    width: 800px;
  }
}
